<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="1" >
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Response from the Grand Echo service (page refreshed every second)</p>
    </p></br>
    <p>Radix Application: <b><%= echoObject.RADIX_APP %></b></p>
    <p>Radix Cluster name: <b><%= echoObject.RADIX_CLUSTERNAME %></b></p>
    <p>Radix Component: <b><%= echoObject.RADIX_COMPONENT %></b></p>
    <p>Radix Environment: <b><%= echoObject.RADIX_ENVIRONMENT %></b></p>
    <p>Radix Host name: <b><%= echoObject.RADIX_HOSTNAME %></b></p>
    <p>Radix Host platform: <b><%= echoObject.RADIX_HOSTPLATFORM %></b></p>
    <p>Backend says: <b><%= echoObject.GREETING_MESSAGE %></b></p>
    </p></br>
    <a href="/">Home</a>
  </body>
</html>
